.alturacarousel{
  height: 400px;
  object-fit: cover;
}
.alturaColoractual{
  height: 200px;
  width: 200px;
}
.alturaColorpanel{
  height: 100px;
}
.bgbody{
  background-color: rgba(0, 128, 128, 0.678);
}
